{% macro footer() %}
<div id="home-footer">
  <p>
    &copy; 2019 Andrey C. Snow &#183; <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener">CC BY-NC 4.0</a> &#183; Built with <a href="https://www.getzola.org/" target="_blank" rel="noopener">Zola</a> &#183; Written in <a href="https://neovim.io/" target="_blank" rel="noopener">NeoVim</a> &#183;

  </p>
  <p>
    Any and all opinions listed here are my own and not representative of my employers; future, past and present.
  </p>
</div>
{% endmacro footer %}


{% macro navbar() %}
<header id="site-header" class="container">
  <nav>
      <div class="navlinks">
      <a href="/">[ Index ]</a>
      &nbsp—&nbsp
      <a href="/contact">[ Contact Information ]</a>
      </div>
      <a id="resume" href="/AndreyCherkashin.pdf" target="_blank">Resume</a>
  </nav>
</header>
{% endmacro footer %}
